/* Add CSS Styling */
.cm,
.ncm{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.cm{
    color:white;
    background-color:black;
}

.ncm{
    background-color:yellow;
}
